
*{
    -fx-color-pressed: #ffde66;
    -fx-color-hover: #ffec9d;
}
.lupe-button{
    -fx-background-radius: 0;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 24px;

    -fx-background-color: #fff;
    -fx-min-height: 26;
    -fx-max-height: 26;
    -fx-max-width: infinity;
}

.lupe-button:hover {
    -fx-background-color: -fx-color-hover;
}

.lupe-button:pressed {
    -fx-background-color: -fx-color-pressed;
}

#zoom-in{
    -fx-background-image: url("../images/zoom-in_32.png");
}
#zoom-out{
    -fx-background-image: url("../images/zoom-out_32.png");
}

#cursor{
    -fx-background-image: url("../images/lupe_cursor_32.png");
}
#rgb{
    -fx-background-image: url("../images/rgb_32.png");
}