@font-face {
    src: url("../../fonts/FreeMonoBold.ttf");
}

.root{
    -fx-font-family: "FreeMono";
    -fx-font-size: 14px;
}

.common-label{
    -fx-padding: 3 5 3 5;
    -fx-max-width: infinity;
    -fx-background-color: #e9e9e9;
    -fx-background-insets: 1 2 1 1;
}


