@font-face {
    src: url("../fonts/FreeMonoBold.ttf");
}

.root {
    -fx-font-family: "FreeMono";
    -fx-font-size: 14px;
}

* {
    -fx-color-background:#eee;
    -fx-color-border:#777;


    -fx-color-selected: #ffde66;
    -fx-color-pressed: #ffde66;
    -fx-color-hover: rgba(255, 205, 0, 0.32);

    -fx-color-selected-built-in: #c4ff6e;
    -fx-color-pressed-built-in: #bfff7b;
    -fx-color-hover-built-in: #dcf5c6;
}

.text-edit{
-fx-border-radius: 0 0 1 0;
    -fx-background-color: #fff;
    -fx-highlight-fill: #ffdd7F;
    -fx-highlight-text-fill: #777;
}

.text-edit:hover{
    -fx-background-color: #fffbd8;
}

.text-edit:pressed{
    
}

.text-edit:focused{
    -fx-background-color: #fffbd8;
    -fx-border-color: -fx-color-selected;
}




.white-element{
    -fx-background-radius: 0;
    -fx-background-color: #fff;
    -fx-highlight-fill: #ffdd7F;
    -fx-highlight-text-fill: #777;
}

.white-element:hover {
    -fx-background-color: -fx-color-hover;
}

.white-element:pressed {
    -fx-background-color: -fx-color-pressed;
}

.white-element:selected {
    -fx-background-color: -fx-color-selected;
}



.context-menu {
    -fx-background-color: #fff;
    -fx-padding: 0;
    -fx-border-color: #ccc;
}


.menu-item:focused {
    -fx-background-color: -fx-color-hover;
}

.menu-item:focused .label {
    -fx-text-fill: #333;
}