p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
    -webkit-margin-before: 0;
    -webkit-margin-after: 5px;
}

.navbar-global {
    background-color: indigo;
}

.navbar-global .navbar-brand {
    color: white;
}

.navbar-global .navbar-user > li > a
{
    color: white;
}

.navbar-primary {
    background-color: #333;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
    width: 60px;
}

.navbar-primary.collapsed .glyphicon {
    font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
    display: none;
}

.btn-expand-collapse {
    visibility: hidden;
    position: absolute;
    display: block;
    left: 0;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
}

.navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom:solid 1px #444;
    color: #ccc;
}

.list-level-1{
    padding: 10px 18px !important;
}

.list-level-2{
    padding: 2px 33px !important;
}

.navbar-primary-menu li a:hover {
    background-color: #181818;
    text-decoration: none;
    color: white;
}

.navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
    color: rgb(255, 195, 83);
}

.current-page-item-menu{
    background-color: #181818;
    color: white;
}

.current-page-item-menu .glyphicon{
    color: rgb(255, 195, 83);
}

.main-content {
    margin-left: 250px;
    padding: 15px;
}

.collapsed + .main-content {
    margin-left: 60px;
}

.wrapper {
    display: flex;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
}

.codebox{
    position: relative;
}

.code-button{
    float: right;
}

.code-button .glyphicon {
    font-size: 18px;
}

.code-button:hover .glyphicon {
    color: rgb(255, 195, 83);
}

.code-button a {
    display: block;
    color: #ccc;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
}

.code-button a:hover {
    background-color: #111;
}

.codebox pre{
    padding-bottom: 2px;
}

.code-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0.8;
}
